---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Research Publications</h2>
<hr />

{% for post in site.publications %}
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline">{{ post.title }}</h3>

    {% if post.venue or post.date %}
      <p>
        {% if post.venue %}Published in <i>{{ post.venue }}</i>{% endif %}
        {% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}
      </p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    {% if post.content %}
      <div class="page__content" itemprop="text">
        {{ post.content | markdownify }}
      </div>
    {% endif %}
  </article>
{% endfor %}

