{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% elsif post.image %}
  {% capture teaser %}{{ post.image }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item archive__item--{{ include.type | default: 'list' }}" itemscope itemtype="http://schema.org/CreativeWork">
    {% if teaser %}
      <div class="archive__item-teaser archive__item-teaser--{{ include.type | default: 'list' }}">
        <img src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: '/images/' | prepend: base_path }}{% endif %}" alt="{{ title }}">
      </div>
    {% endif %}
    <div class="archive__item-body">
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.github %}
        <a href="{{ post.github }}" target="_blank" rel="noopener noreferrer">{{ title }}</a>
      {% else %}
        {{ title }}
      {% endif %}
    </h2>

    {% if post.date %}
      <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> Updated:</strong> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></p>
    {% endif %}

    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    {% if post.github %}
      <p><a href="{{ post.github }}" target="_blank" rel="noopener noreferrer" class="btn btn--github"><i class="fab fa-github" aria-hidden="true"></i> View on GitHub</a></p>
    {% endif %}
    </div>
  </article>
</div>
